<ion-view view-title="Orientações de Aplicações" align-title="left">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="padding">
            <div class="list animate-fade-slide-in-right">
				<div class="block_text">

<h2>WYSIWYG Editor</h2>

<p><strong>Laciniassss</strong></p>

<ul>
	<li><s>Suspendisse</s> tincidunt urna ut velit ullamcorper fermentum.</li>
	<li>Nullam mattis sodales lacus, in gravida sem auctor at.</li>
	<li>Praesent non lacinia mi.</li>
	<li>Mauris a ante neque.</li>
	<li>Aenean ut magna lobortis nunc feugiat sagittis.</li>
</ul>

<h3>Pellentesque adipiscing</h3>

<p>Maecenas quis ante ante. Nunc adipiscing rhoncus rutrum. Pellentesque adipiscing urna mi, ut tempus lacus ultrices ac. Pellentesque sodales, libero et mollis interdum, dui odio vestibulum dolor, eu pellentesque nisl nibh quis nunc. Sed porttitor leo adipiscing venenatis vehicula. Aenean quis viverra enim. Praesent porttitor ut ipsum id ornare.</p>

				</div>
            </div>
        </div>
    </ion-content>
</ion-view>
