<ion-view view-title="Contato" align-title="left">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="padding">
            <div class="list animate-fade-slide-in-right">
				<div class="block_text">

					<h4>Contato</h2>
					<hr>

					<ul>
						<li>Email <a href="mailto:secretaria@angioclin.com.br">secretaria@angioclin.com.br</a></li>
					</ul>
					<ul>
						<li>Fone <a href="tel:32227034">(41) 3222-7034</a></li>
						<li>Cel <a href="tel:984163830">(41) 98416-3830</a></li>
					</ul>
				</div>
            </div>
        </div>
    </ion-content>
</ion-view>
