<ion-view view-title="AngioClin" class="home-content">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="content">
                <h4 class="title-home">Olá, Rafael</h4>
            </div>
        </div>
        <div class="hero no-header flat" style="margin-top: 40%">
            <div class="content">
                <div class="app-icon"></div>
            </div>
        </div>
        <div class="content has-header">
            <div class="btn-bottom">
                <div class="c-6">
                    <a ui-sref="app.schedule" class="button button-full button-calm-900 center btn-h h-2">
                        <span class="font-2">Marcação<br/>de<br/>Consulta</span>
                    </a>
                </div>
                <div class="c-6">
                    <a href="#/app/profile" class="button button-full button-positive btn-h h-1">
                        Receitas<br/>Médicas
                    </a>
                    <a href="#/app/profile" class="button button-full button-energized-900 btn-h h-1">
                        Orientações<br/>Cardiovasculares
                    </a>
                </div>
            
            </div>
        </div>
    </ion-content>
</ion-view>
