<ion-view view-title="Orientações" align-title="left">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="">
            <div class="list animate-fade-slide-in-right menu-inter">
                <ion-item class="btn-menu" href="/#/app/info/vasculares/escleroterapia">
                    Escleroterapia
                </ion-item>
                <ion-item class="btn-menu" href="/#/app/info/vasculares/uso-da-meia">
                    Uso da Meia
                </ion-item>
                <ion-item class="btn-menu" href="/#/app/info/vasculares/pre-cirurgico">
                    Pré Cirúrgico
                </ion-item>
                <ion-item class="btn-menu" href="/#/app/info/vasculares/pos-cirurgico">
                    Pós Cirúrgico
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>
