<ion-view view-title="Orientações" align-title="left">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="">
            <div class="list animate-fade-slide-in-right menu-inter">
            	<ion-item class="btn-menu" ui-sref="app.info_vasculares">
                    Vasculares
                </ion-item>
                <ion-item class="btn-menu" ui-sref="app.applications">
                    Cardiológicas
                </ion-item>
                <ion-item class="btn-menu" ui-sref="app.info_preparo">
                    Preparo de exames
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>
