<ion-view view-title="Orientações" align-title="left">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="">
            <div class="list animate-fade-slide-in-right menu-inter">
                <ion-item class="btn-menu" href="/#/app/info/preparo-de-exames/teste-ergometrico">
                    Teste Ergométrico
                </ion-item>
                <ion-item class="btn-menu" href="/#/app/info/preparo-de-exames/ecocardiograma">
                    Ecocardiograma
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>
