<ion-view view-title="Localização" align-title="left">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="padding">
            <div class="list animate-fade-slide-in-right">
				<div class="block_text">

					<h4>Consultório e Clínica de Ecografia</h2>
					<hr>

					<ul>
						<li>Rua 24 de Maio, 262, Sobreloja 2</li>
						<li>Edifício Comercial Washington</li>
						<li>Entre as Av. Visconde Guarapuava e Av. Sete de Setembro</li>
						<li>Centro</li>
						<li>Curitiba/PR</li>
						<hr>
						<li>Fone <a href="tel:32227034">(41) 3222-7034</a></li>
						<li>Cel <a href="tel:984163830">(41) 98416-3830</a></li>
					</ul>
					<br/><br/>

					<a href="https://www.google.com.br/maps/place/Rua+24+de+Maio,+262+-+Centro,+Curitiba+-+PR,+80230-080/@-25.439452,-49.2757641,17z/data=!3m1!4b1!4m5!3m4!1s0x94dce46fdac25641:0x1be4d0178ea880b6!8m2!3d-25.439452!4d-49.2735754"
					class="button button-positive" target="_blank">Ver Mapa</a>
				</div>
            </div>
        </div>
    </ion-content>
</ion-view>
