<ion-view view-title="Login" id="login-view" align-title="left">
    <ion-content>
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
            </div>
        </div>
        <div class="padding mg-t-40">
            <input placeholder="Usuário" class="form-input" ng-model="data.username" type="text" />
            <input placeholder="Senha" class="form-input" ng-model="data.password" type="password" />
            <button ng-click="login()" class="button button-full button-stable ink">Entrar</button>
            <button ui-sref="app.register" class="button button-full button-positive">Cadastro Novo</button>
        </div>
    </ion-content>
</ion-view>
<style type="text/css">
    .c-12{
        display: none;
    }
</style>
