<ion-view view-title="AngioClin" align-title="left">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="">
            <div class="list animate-fade-slide-in-right menu-inter2">
            	<ion-item class="btn-menu" ui-sref="app.schedule">
                    <img src="/img/icon/017-calendar.png" />
                    <span>Agende</span>
                </ion-item>
                <ion-item class="btn-menu" ui-sref="app.application_details" style="background: #ffa2a2">
                    <img src="/img/icon/008-medicines.png" />
                    <span>Aplicações</span>
                </ion-item>
                <ion-item class="btn-menu" ui-sref="app.informations" style="background: #a2a9ff">
                    <img src="/img/icon/016-help.png" />
                    <span>Orientações</span>
                </ion-item>
                <ion-item class="btn-menu" ui-sref="app.agreement" style="background: #a2ffc3">
                    <img src="/img/icon/001-medical-4.png" />
                    <span>Convênios</span>
                </ion-item>
                <ion-item class="btn-menu" ui-sref="app.about_us" style="background: #feffa2">
                    <img src="/img/icon/004-medical-2.png" />
                    <span>Quem Somos</span>
                </ion-item>
                <ion-item class="btn-menu" ui-sref="app.locations" style="background: #f9a2ff">
                    <img src="/img/icon/014-pin.png" />
                    <span>Localização</span>
                </ion-item>
                <ion-item class="btn-menu" ui-sref="app.contact" style="background: #ffdea2">
                    <img src="/img/icon/015-phone-call.png" />
                    <span>Contato</span>
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>
