<ion-view view-title="Marcar Consulta" align-title="left" ng-init="loadEvents()">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
            </div>
        </div>
        
        <div class="padding">
            <calendar ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-source="calendar.eventSource"
                range-changed="reloadSource(startTime, endTime)"
                event-selected="onEventSelected(event)" title-changed="onViewTitleChanged(title)"
                time-selected="onTimeSelected(selectedTime, events, disabled)" step="30"></calendar>

            <!-- <calendar calendar-mode="mode" event-source="eventSource" ng-model="selectedDate"></calendar> -->
        </div>
    </ion-content>
</ion-view>
