<ion-view view-title="Agende Sua Consulta" align-title="left">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
    	<div class="padding">
    		30/03/2018 - Segunda
    	</div>
        <div class="list list-schedule animate-fade-slide-in-right menu-inter">
        	<ion-item class="btn-menu" ng-click="presentConfirm()">
                9h00 <span>Disponível</span>
            </ion-item>
            <ion-item class="btn-menu btn-block">
                9h20 <span>Indisponínel</span>
            </ion-item>
            <ion-item class="btn-menu btn-block">
                9h40 <span>Indisponínel</span>
            </ion-item>
            <ion-item class="btn-menu" ng-click="presentConfirm()">
                10h00 <span>Disponível</span>
            </ion-item>
            <ion-item class="btn-menu btn-block">
                10h20 <span>Indisponínel</span>
            </ion-item>
            <ion-item class="btn-menu" ng-click="presentConfirm()">
                10h40 <span>Disponível</span>
            </ion-item>
            <ion-item class="btn-menu" ng-click="presentConfirm()">
                11h00 <span>Disponível</span>
            </ion-item>
            <ion-item class="btn-menu" ng-click="presentConfirm()">
                11h20 <span>Disponível</span>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
